/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */
	color: #CC00AA;
}

/* this style exists to make it obvious that you've successfully linked
   the CSS to the page. feel free to remove it once the link is working. */
body {
     border: 1px dotted gray;
     padding: 20px;
		 background-color:#EAD1DCFF;
}

.jumbotron {
	position: relative;
	background: none;
}

.jumbotron:after {
     content:"";
     opacity: 0.2;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;
}

.jumbotron p {
     color: #6e6e6e;
}

.project a {
     text-align: center;
}

.small-img {
  border-width: 100000px;
}

header{
	width:100%;
	background-color:#EAD1DCFF;
	height:50px;
	line-height:20px;
	border-bottom:1px solid #dddddd;
}

nav{z-index:1000000; font-weight:bold; font-size:0.8em; width:100%; background:#f1f1f1;  position:absolute; text-align:center; font-size:12px;}
nav ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
nav li {display: block;   padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
nav li:hover{display: block;    background:#ffffff; padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
nav ul li a { text-decoration:none;  margin: 0px; color:#666;}
nav ul li a:hover {  color: #666; text-decoration:none;}
nav a{text-decoration:none; color:#666;}
nav a:hover{text-decoration:none; color:#666;}

.hamburger{
	background-color: #ffffff00; /* Transparent background */
	border: none; /* Remove borders */
	color: black; /* Black */
	padding: 0px 30px 0px 0px; /* Some padding */
	font-size: 2.5em; /* Set a font size */
	cursor: pointer; /* Mouse pointer on hover */
}

.homeButton {
	background-color: #ffffff00; /* Transparent background */
	border: none; /* Remove borders */
	color: black; /* Black */
	padding: 0px 30px 0px 0px; /* Some padding */
	font-size: 2.5em; /* Set a font size */
	cursor: pointer; /* Mouse pointer on hover */
}

.title {
	background-color: #ffffff00; /* Transparent background */
	border: none; /* Remove borders */
	color: black; /* Black */
	padding: 0px 0px 0px 0px; /* Some padding */
	font-size: 2.5em; /* Set a font size */
	cursor: pointer; /* Mouse pointer on hover */
}

.postButton {
	background-color: #ffffff00; /* Transparent background */
	border: none; /* Remove borders */
	color: black; /* Black */
	padding: 0px 0px 0px 0px; /* Some padding */
	font-size: 2.5em; /* Set a font size */
	cursor: pointer; /* Mouse pointer on hover */
	float:right;
}

header{display:inline-block; font-size:14px;}
span{padding-left:20px}
a{color:#336699;}
